<div class="body">
    <div class="wrapper">
        <form [formGroup]="changePasswordForm" (ngSubmit)="save()">
            <h1>Change PassWord</h1>
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <input type="text" class="form-control" placeholder="CurrentPassword" formControlName="currentpassword"/>
                <span asp-validation-for="UserName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="text" class="form-control" placeholder="NewPassword" formControlName="newpassword"/>
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="text" class="form-control" placeholder="ConfirmPassword" formControlName="confirmpassword"/>
                <span asp-validation-for="UserName" class="text-danger"></span>
            </div>
            @if(validateform != ''){
                <span class="validateform">{{validateform}}</span>
            } 
            <div >
                <input type="submit" value="Change password" class="btn" />
            </div>                
        </form>        
    </div>
</div>


